* {
  --bg-color: rgb(119, 136, 153);
}

body{
  background-color: var(--bg-color);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: rgba(255, 245, 235, .5);
  z-index: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: rgba(0, 255, 255, 0.5);
  z-index: -1;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: brown;
}
.four {
  grid-column: 3;
  grid-row: 3;
  background-color: blueviolet;
}
.five {
  grid-column: 2;
  grid-row: 4;
  background-color: tomato;
}
.six {
  grid-column: 3;
  grid-row: 4;
  background-color: lightblue;
}